WcfAssgn/ServerFixture/Service References/MyService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52379/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcgAssgn" />
  <xs:element name="CreateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRemark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRemarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcgAssgn" minOccurs="0" name="EmployeeRemarkResult" nillable="true" type="q1:EmployeeRemarks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcgAssgn" minOccurs="0" name="GetAllEmployeesResult" nillable="true" type="q2:ArrayOfEmployeeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeNameFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeNameFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeNameFromIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRemarkFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeRemarkFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcgAssgn" minOccurs="0" name="GetEmployeeRemarkFromIdResult" nillable="true" type="q3:ArrayOfEmployeeRemarks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeeRemarks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeeRemarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcgAssgn" minOccurs="0" name="GetAllEmployeeRemarksResult" nillable="true" type="q4:ArrayOfEmployeeRemarks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcgAssgn" minOccurs="0" name="SearchByIdResult" nillable="true" type="q5:EmployeeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcgAssgn" minOccurs="0" name="SearchByNameResult" nillable="true" type="q6:EmployeeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>