WcfAssgn/Client/Service References/MyService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcgAssgn" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcgAssgn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeRemarks">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeRemarks" nillable="true" type="tns:EmployeeRemarks" />
  <xs:complexType name="ArrayOfEmployeeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeData" nillable="true" type="tns:EmployeeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeData" nillable="true" type="tns:ArrayOfEmployeeData" />
  <xs:complexType name="EmployeeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeData" nillable="true" type="tns:EmployeeData" />
  <xs:complexType name="ArrayOfEmployeeRemarks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeRemarks" nillable="true" type="tns:EmployeeRemarks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeRemarks" nillable="true" type="tns:ArrayOfEmployeeRemarks" />
</xs:schema>