WcfAssgn/Client/Service References/MyService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52379/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52379/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52379/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcgAssgn" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreateEmployeeAddRemarks_CreateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeAddRemarks_CreateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeAddRemarks_EmployeeRemark_InputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeRemark" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeAddRemarks_EmployeeRemark_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmployeeRemarkResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeAddRemarks_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeAddRemarks_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_GetEmployeeNameFromId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeNameFromId" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_GetEmployeeNameFromId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeNameFromIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_GetEmployeeRemarkFromId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeRemarkFromId" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_GetEmployeeRemarkFromId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeRemarkFromIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_GetAllEmployeeRemarks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeRemarks" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_GetAllEmployeeRemarks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeRemarksResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_SearchById_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchById" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_SearchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_SearchByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByName" />
  </wsdl:message>
  <wsdl:message name="ICreateEmployeeDetails_SearchByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreateEmployeeAddRemarks">
    <wsdl:operation name="CreateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployeeAddRemarks/CreateEmployee" message="tns:ICreateEmployeeAddRemarks_CreateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployeeAddRemarks/CreateEmployeeResponse" message="tns:ICreateEmployeeAddRemarks_CreateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeRemark">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployeeAddRemarks/EmployeeRemark" message="tns:ICreateEmployeeAddRemarks_EmployeeRemark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployeeAddRemarks/EmployeeRemarkResponse" message="tns:ICreateEmployeeAddRemarks_EmployeeRemark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployeeAddRemarks/DeleteEmployee" message="tns:ICreateEmployeeAddRemarks_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployeeAddRemarks/DeleteEmployeeResponse" message="tns:ICreateEmployeeAddRemarks_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICreateEmployeeDetails">
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/GetAllEmployees" message="tns:ICreateEmployeeDetails_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/GetAllEmployeesResponse" message="tns:ICreateEmployeeDetails_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeNameFromId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/GetEmployeeNameFromId" message="tns:ICreateEmployeeDetails_GetEmployeeNameFromId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/GetEmployeeNameFromIdResponse" message="tns:ICreateEmployeeDetails_GetEmployeeNameFromId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRemarkFromId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/GetEmployeeRemarkFromId" message="tns:ICreateEmployeeDetails_GetEmployeeRemarkFromId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/GetEmployeeRemarkFromIdResponse" message="tns:ICreateEmployeeDetails_GetEmployeeRemarkFromId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeRemarks">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/GetAllEmployeeRemarks" message="tns:ICreateEmployeeDetails_GetAllEmployeeRemarks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/GetAllEmployeeRemarksResponse" message="tns:ICreateEmployeeDetails_GetAllEmployeeRemarks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/SearchById" message="tns:ICreateEmployeeDetails_SearchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/SearchByIdResponse" message="tns:ICreateEmployeeDetails_SearchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/SearchByName" message="tns:ICreateEmployeeDetails_SearchByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreateEmployeeDetails/SearchByNameResponse" message="tns:ICreateEmployeeDetails_SearchByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICreateEmployeeAddRemarks" type="tns:ICreateEmployeeAddRemarks">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployeeAddRemarks/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeRemark">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployeeAddRemarks/EmployeeRemark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployeeAddRemarks/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICreateEmployeeDetails" type="tns:ICreateEmployeeDetails">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployeeDetails/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeNameFromId">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployeeDetails/GetEmployeeNameFromId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeRemarkFromId">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployeeDetails/GetEmployeeRemarkFromId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeeRemarks">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployeeDetails/GetAllEmployeeRemarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployeeDetails/SearchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <soap:operation soapAction="http://tempuri.org/ICreateEmployeeDetails/SearchByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ICreateEmployeeAddRemarks" binding="tns:BasicHttpBinding_ICreateEmployeeAddRemarks">
      <soap:address location="http://localhost:52379/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICreateEmployeeDetails" binding="tns:BasicHttpBinding_ICreateEmployeeDetails">
      <soap:address location="http://localhost:52379/Service1.svc/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>